* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* nav style start */
nav {
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 50px;
  font-size: 25px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 700;
  line-height: normal;
}
.main-text {
  color: #5e1af0;
}
.btn-primary {
  font-size: 20px;
  padding: 12px;
  margin-top: -5px;
  background-color: #5e1af0;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
/* nav style end */
/* header style start */
.header {
  background-color: #fff8f3;
  height: 100vh;
  width: 100%;
  background-image: url("images/hardy1.jpeg");
  background-position: bottom right;
  background-position: cover;
}
.banner {
  padding: 30px 30px 0px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-img {
  width: 50%;
}
.banner-img img {
  width: 447px;
  background-repeat: no-repeat;
}
.banner-text h3 {
  font-size: 40px;
  margin-bottom: 5px;
}
.banner-text h1 {
  font-size: 60px;
  margin-bottom: 10px;
}
.banner-text p {
  margin-bottom: 30px;
}
.btn-2nd {
  margin-right: 10px;
}
/* main style start */
main {
  max-width: 1140px;
  margin: 0 auto;
}
.about {
  padding: 130px;
  background-color: antiquewhite;
  /* background-image: linear-gradient(to right top, #ffffff, #d5d2e6, #aaa7ce, #7e7fb6, #4e599f); */
  margin: 130px 100px;
  border-radius: 15px;
}
.section-title {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}
.section-des {
  text-align: center;
  margin-bottom: 40px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}
#what {
  padding: 30px 150px;
}
.skills-container {
  display: flex;
  gap: 24px;
  background: #fff;
}
.skills {
  padding: 30px;
  box-shadow: -22px 0px 50px rgb(61, 60, 60);
  border-radius: 15px;
  cursor: pointer;
}
.skill-des {
  color: #474747;
  margin-top: 10px;
}
main section {
  margin-top: 130px;
}
.s1 {
  margin-top: 10px;
}
.s2 {
  margin-bottom: 70px;
}
.resume {
  padding: 0 130px;
}
.resume-column-title {
  font-size: 25px;
  margin-bottom: 30px;
}
.resume-container {
  display: flex;
  gap: 50px;
}
.resume-des,
.resume-item-ins {
  color: #474747;
  margin-bottom: 20px;
}
.resume-item-title {
  font-size: 20px;
  margin-bottom: 20px;
  color: #474747;
}
.resume-container hr {
  margin: 30px;
}
.download-cv {
  text-align: center;
  margin-top: 30px;
}
.btn1 {
  font-size: 16px;
  padding: 15px;
}
/* main style end */
/* Footer style start */
footer {
  display: flex;
  padding: 130px 200px;
  margin-top: 100px;
  background-color: antiquewhite;
  /* background-image: linear-gradient(to right top, #ffffff, #d5d2e6, #aaa7ce, #7e7fb6, #4e599f); */
  gap: 100px;
}
.footer-column {
  width: 50%;
}
.contact input,
textarea {
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  color: #474747;
  border: none;
  border-radius: 5px;
}
.contact input {
  width: 100%;
}
.s3 {
  padding: 10px 20px;
}
.social-icon {
  margin-top: 20px;
}
.social-icon a {
  font-size: 20px;
  color: #474747;
  padding: 10px;
}
.b1 {
  text-align: left;
}
.fas {
  padding: 5px;
  font-size: 19px;
}
/* Footer style end */
